@font-face {
    font-family: "ceraProBlack";
    src: url(./assets/fonts/Fontspring-DEMO-cerapro-black.otf);
}
@font-face {
    font-family: "ceraProBold";
    src: url(./assets/fonts/Fontspring-DEMO-cerapro-bold.otf);
}
@font-face {
    font-family: "ceraProLight";
    src: url(./assets/fonts/Fontspring-DEMO-cerapro-light.otf);
}
@font-face {
    font-family: "ceraProReg";
    src: url(./assets/fonts/Fontspring-DEMO-cerapro-regular.otf);
}